<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{ title }}!
  </h1>
 
 <h2>Json Data From Server</h2>
  <div>
    <button class="btn btn1 btn2" (click)="readData()">
       Read Json Data
    </button>
  </div>
  <br/><br/>

  <!--
 <div>
  hello
            <ul>
                <li *ngFor="let JsonData of jsonData">
                    <span>{{jsonData.name}}</span>
                </li>
            </ul>
        </div>

-->
<!--
<table border="1px">
<tr>
  <th>Name</th>
  <th>Lastname</th>
  <th>DOB</th>
  <th>phone</th>
  <th>Address</th>
</tr>
<tr *ngFor="let JsonData1 of jsonData">
 <td>{{jsonData1.name}}</td>
  <td>{{jsonData1.lastname}}</td>
   <td>{{jsonData1.dob}}</td>
    <td>{{jsonData1.phone}}</td>
     <td>{{jsonData1.address}}</td>
</tr>

</table>
-->hiiiiiii

<table border="1">
<tr ng-repeat="let x in jsonData">

  <td>{{x.lastname}}</td>  
    <td>{{x.name}}</td>
</tr>
</table>











  <!--
 <table border="1" class="demoTable">
   <tr *ngFor="let x of JsonData">
    <td *ngFor="let y of x">{{ y }}</td>
     <td> {{x.name}}</td>
   </tr>
</table>



  <div>
    <table border="1" class="demoTable">
      <tr *ngFor="let x of csvData">
        <td *ngFor="let y of x">{{ y }}</td>
      </tr>
    </table>-->
  </div>